In [1]:
var = input("enter the salary : ")

enter the salary : 2

In [2]:
var1 = int(var )

In [3]:
name = input("|enter your name ")

|enter your name ahti

In [4]:
name.lower()

'ahti'

In [5]:
name.upper()

'AHTI'

In [6]:
name.title()

'Ahti'

In [7]:
customer  = {1 : "ahtisham" , 2:"abdulrehman " , "address" : "akhter colony" ,}

In [8]:
customer["phone no "] = 3042683859

In [9]:
customer["phone no "]

3042683859

In [10]:
customer["address"]

'akhter colony'

In [11]:
customer

{1: 'ahtisham',
 2: 'abdulrehman ',
 'address': 'akhter colony',
 'phone no ': 3042683859}

In [12]:
customer["phone no "] = 234

In [13]:
customer

{1: 'ahtisham',
 2: 'abdulrehman ',
 'address': 'akhter colony',
 'phone no ': 234}

In [14]:
for a in customer.values():
    print(a)

ahtisham
abdulrehman
akhter colony
234

In [15]:
for a in customer.keys():
    print(a)

1
2
address
phone no

In [16]:
for eachkey , eachvalue in customer.items():
    print(f"THE KEYS ARE {eachkey} and the value are {eachvalue}")

THE KEYS ARE 1 and the value are ahtisham
THE KEYS ARE 2 and the value are abdulrehman
THE KEYS ARE address and the value are akhter colony
THE KEYS ARE phone no  and the value are 234

In [24]:
list = [
    {
        "customer" : 0 ,
        "name" : "ahtisham",
        "class" : "10",
        "address" : "defence phase 1 "
    },
    {
        "customerid" : 1 ,
        "name" : "adbul",
        "class" : "11",
        "address" : "defence"
    },
    {
        "customerid" : 2 ,
        "name" : "bisma",
        "class" : "12",
        "address" : "nazimabad"
    },
]

In [25]:
dic1 = list[0]

In [26]:
dic1

{'customer': 0,
 'name': 'ahtisham',
 'class': '10',
 'address': 'defence phase 1 '}

In [27]:
dic1["address"]

'defence phase 1 '

In [ ]:
#36) adding dictionary in the list of dictionary

In [28]:
     newcustomerid = len(list)

In [29]:
newcustomerid

3

In [30]:
newdic = {
    "customerid" : newcustomerid,
    "name" : "zain",
    "class" : 13,
    "address" : "defence"
}

In [31]:
list.append(newdic)

In [32]:
list

[{'customer': 0,
  'name': 'ahtisham',
  'class': '10',
  'address': 'defence phase 1 '},
 {'customerid': 1, 'name': 'adbul', 'class': '11', 'address': 'defence'},
 {'customerid': 2, 'name': 'bisma', 'class': '12', 'address': 'nazimabad'},
 {'customerid': 3, 'name': 'zain', 'class': 13, 'address': 'defence'}]

In [33]:
#37 Creating a dictionary that contains lists

In [48]:
discountamount =0
newcustomer = {
    "customerid" : 4,
    "name" : "moiz",
    "class" : 14,
    "address" : "pta nhi",
    "discount" : ["brotherinlaw","standard","volume","loyalty"],
    "discountamount" : discountamount
}

In [49]:
list.append(newcustomer)

In [50]:
list

[{'customer': 0,
  'name': 'ahtisham',
  'class': '10',
  'address': 'defence phase 1 '},
 {'customerid': 1, 'name': 'adbul', 'class': '11', 'address': 'defence'},
 {'customerid': 2, 'name': 'bisma', 'class': '12', 'address': 'nazimabad'},
 {'customerid': 3, 'name': 'zain', 'class': 13, 'address': 'defence'},
 {'customerid': 4,
  'name': 'moiz',
  'class': 14,
  'address': 'pta nhi',
  'discount': ['brotherinlaw', 'standard', 'volume', 'loyalty']},
 {'customerid': 4,
  'name': 'moiz',
  'class': 14,
  'address': 'pta nhi',
  'discount': ['brotherinlaw', 'standard', 'volume', 'loyalty']},
 {'customerid': 4,
  'name': 'moiz',
  'class': 14,
  'address': 'pta nhi',
  'discount': ['brotherinlaw', 'standard', 'volume', 'loyalty'],
  'discountamount': 0}]

In [44]:
discount = newcustomer["discount"][0]

'brotherinlaw'

In [52]:
#accessing the standard
list[4]["discount"][1]

'standard'

In [58]:
newcustomer = list[4][]
newcustomer

{'customerid': 4,
 'name': 'moiz',
 'class': 14,
 'address': 'pta nhi',
 'discount': ['brotherinlaw', 'standard', 'volume', 'loyalty']}

In [59]:
#38
#How to get information out of a list
#within a dictionary

In [60]:
if "standard" in list[4]["discount"]:
    discountamount = 5
elif "brotherinlaw" in list[4]["discount"]:
    discountamount = 30

elif "volume" in list[4]["discount"]:
    discountamount = 10
elif "loyalty" in list[4]["discount"]:
    discountamount = 14

In [61]:
discountamount

5

In [ ]:
#39
#Creating a dictionary that contains a
#dictionary

In [65]:
dic = {
         0 :{
        
        "name" : "ahtisham",
        "class" : "10",
        "address" : "defence phase 1 "
    },
     1 : {
        
        "name" : "adbul",
        "class" : "11",
        "address" : "defence"
    },
    2: {
       
        "name" : "bisma",
        "class" : "12",
        "address" : "nazimabad"
    },
}

In [66]:
#40
#How to get information out of a
#dictionary within another dictionary
dic[2]

{'name': 'bisma', 'class': '12', 'address': 'nazimabad'}

In [67]:
dic[1]["class"]

'11'

In [68]:
#41
#Functions or methods
#def nameofmethod ():
      #body
def addnumbers():
    num1 = 2 
    num2 = 3
    total = num1+num2
    print(total)

In [70]:
addnumbers()

5

In [87]:
def discount(dicount = .30):
    bill = float(input("enter the total bill"))
    
    print(f"your total bill is : {bill} ")
    #dicount = originalprice - dicount*original price
    total  = bill - (bill*dicount)
    print(f"but with discount your bill would be {total}")

In [88]:
discount()

enter the total bill4000.00
your total bill is : 4000.0
but with discount your bill would be 2800.0

In [90]:
discount(.40)

enter the total bill4000.0
your total bill is : 4000.0
but with discount your bill would be 2400.0