# Pandas introduction : 
pandas basically num py ki hi aek libraray hai jis me kuch zyada advaatages hain aur ye back end pr numpy ki library hi ko use krr rahi hoti for multi dimentional array but is ka sb se bara benefit yeh hai ke ye data ko data dataframes me represen krti hai jis me ap column ki heading bbhi define kr skty hai aur har row ke lye label bhi define kr skty hain .

In [1]:
#when we work on ai projects we need to manage multidimensional data organized and well managed data is a req for all steps like training , validation testing and prediction .

In [2]:
import pandas as pd

# Series object:
part:1

In [3]:
obj = pd.Series([4,7,-5,3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
#pandas series has two things in one object :
#1 : Values 
#2: index
print(obj.values)

[ 4  7 -5  3]

In [5]:
print(obj.index) #startinig from zero and ending on 4 and increment by 1

RangeIndex(start=0, stop=4, step=1)

In [6]:
#part :02

In [7]:
sales = pd.Series([100,200,300,400] , index = ["jan","frb","mar","apr"])

In [8]:
print(sales)

jan    100
frb    200
mar    300
apr    400
dtype: int64

In [9]:
#part : 03

In [10]:
print(sales.values)

[100 200 300 400]

In [11]:
print(sales.index) #when pandas feel a complex data to it declared this data as "object" data typre object : is a datatype in which u can store any kind of data .i.e : float int string whatwver u want .

Index(['jan', 'frb', 'mar', 'apr'], dtype='object')

In [12]:
#if i want to declare name :
sales = pd.Series([100,200,300,400] , index = ["jan","frb","mar","apr"],name = "4 month sales")

In [13]:
print(sales)

jan    100
frb    200
mar    300
apr    400
Name: 4 month sales, dtype: int64

In [14]:
#part :"04":

In [15]:
#we can declare series name too , this name would help us when we would merge our series with data frame it would make this name :
#as a column header of the data frame.
#ex 01 : create a canteen record of a week tthat how many sandwitches are sold in a week .
canteen_data = pd.Series([150,200,100,400,100,150,170],index = ["mon","tue","wed","thu","fri","sat","sun"],name = "sandwiches sold price")

In [16]:
print(canteen_data)

mon    150
tue    200
wed    100
thu    400
fri    100
sat    150
sun    170
Name: sandwiches sold price, dtype: int64

In [17]:
print(canteen_data[1])

200

In [18]:
print(canteen_data["mon"]) #from index

150

In [19]:
#for extracting multiple value from a series :
print(canteen_data[ [3,5,6]])

thu    400
sat    150
sun    170
Name: sandwiches sold price, dtype: int64

In [20]:
#u had to pass two large bracket and enclose the values in the form of an arrau had to give array notation .
print(canteen_data[["mon","wed","sun"]])

mon    150
wed    100
sun    170
Name: sandwiches sold price, dtype: int64

In [21]:
print(canteen_data >100) #return boolean values .

mon     True
tue     True
wed    False
thu     True
fri    False
sat     True
sun     True
Name: sandwiches sold price, dtype: bool

In [22]:
#and for getting original values use /:
print(canteen_data[canteen_data >150])

tue    200
thu    400
sun    170
Name: sandwiches sold price, dtype: int64

In [23]:
canteen_data * 3

mon     450
tue     600
wed     300
thu    1200
fri     300
sat     450
sun     510
Name: sandwiches sold price, dtype: int64

In [24]:
print(canteen_data)

mon    150
tue    200
wed    100
thu    400
fri    100
sat    150
sun    170
Name: sandwiches sold price, dtype: int64

In [25]:
canteen_data = canteen_data * 3

In [26]:
canteen_data

mon     450
tue     600
wed     300
thu    1200
fri     300
sat     450
sun     510
Name: sandwiches sold price, dtype: int64

In [27]:
canteen_data = canteen_data / 3 #it return float values

In [28]:
canteen_data

mon    150.0
tue    200.0
wed    100.0
thu    400.0
fri    100.0
sat    150.0
sun    170.0
Name: sandwiches sold price, dtype: float64

In [29]:
#if i want to check a index is present in the series or not:
#we had use this in func before in python to check that something is present in the list .
"mon" in canteen_data

True

In [30]:
import numpy as np

In [31]:
arr = np.array([1,22,333,444,55,66])
arr_index = np.array(["a","b","c","d","e","f"])

In [32]:
#for converting a data into series :
ser = pd.Series(arr,arr_index)

In [33]:
ser

a      1
b     22
c    333
d    444
e     55
f     66
dtype: int32

In [34]:
#we can get data from a dic too :
dic = {"sindh" : 250000,"balochistan" : 12000,"punjab":40000,"kpk":45000}
dic

{'sindh': 250000, 'balochistan': 12000, 'punjab': 40000, 'kpk': 45000}

In [35]:
tax_paid = pd.Series(dic) #it would use key as index of the series and values as values

In [36]:
tax_paid

sindh          250000
balochistan     12000
punjab          40000
kpk             45000
dtype: int64

In [37]:
tax_paid.index

Index(['sindh', 'balochistan', 'punjab', 'kpk'], dtype='object')

In [38]:
#if u change the position of an index it value will not be changed like :
#if i bring punjab on 0 index it value still remain the same 
tax_paid = pd.Series(dic, index = ["punjab","balochistan","sindh","kpk"])

In [39]:
tax_paid # u can see punjab is still 40000 .

punjab          40000
balochistan     12000
sindh          250000
kpk             45000
dtype: int64

# **u can get data into series from : **
    *numpy array
    *list
    *and dictionary

In [40]:
#if a value is missing(null) in a data so can we find that value :
#we use pd.isnull(sername)

In [41]:
tax_paid = pd.Series(dic, index = ["punjab","balochistan","sindh","kpk" ,"gilgit"])

In [42]:
tax_paid

punjab          40000.0
balochistan     12000.0
sindh          250000.0
kpk             45000.0
gilgit              NaN
dtype: float64

In [43]:
pd.isnull(tax_paid)

punjab         False
balochistan    False
sindh          False
kpk            False
gilgit          True
dtype: bool

In [44]:
pd.isnull(tax_paid)

punjab         False
balochistan    False
sindh          False
kpk            False
gilgit          True
dtype: bool

In [45]:
pd.isnull(tax_paid)

punjab         False
balochistan    False
sindh          False
kpk            False
gilgit          True
dtype: bool

In [46]:
#null value means that this index value is not present in the series 
#but remember string and empty or two diff things for ex:
#if a string has no value to it means its empty but not null .
#null means that id does not exist at all .

In [47]:
pd.isnull(tax_paid) # is a function of series.

punjab         False
balochistan    False
sindh          False
kpk            False
gilgit          True
dtype: bool

In [48]:
tax_paid.isnull() #is a method of series . both things are valid .

punjab         False
balochistan    False
sindh          False
kpk            False
gilgit          True
dtype: bool

In [49]:
#we can name values : ser.name = "name of values"
#we can also name index : ser.index.name = "name of index"
tax_paid.name ="provinces_tax"
tax_paid.index.name = "provinces_name "

In [50]:
tax_paid

provinces_name
punjab          40000.0
balochistan     12000.0
sindh          250000.0
kpk             45000.0
gilgit              NaN
Name: provinces_tax, dtype: float64

In [51]:
tax_paid.index

Index(['punjab', 'balochistan', 'sindh', 'kpk', 'gilgit'], dtype='object', name='provinces_name ')

In [52]:
#u can also change the values of series and its indexes also
tax_paid.index = ["pun","bal","sin","kpk" ,"gil"]

In [53]:
tax_paid

pun     40000.0
bal     12000.0
sin    250000.0
kpk     45000.0
gil         NaN
Name: provinces_tax, dtype: float64

In [54]:
#remeber one thing : null != 0 , means if zero is present then it is not  null at all
#naming series is important because later we would combine it with data frame and it would help us there
#because bascially DATAFRAME is a combination of multilple Series...

# DATA FRAME :
As in series we store a single dimension data but when we had to store the data of multi dimension the we use dataframe to store that type of data .
we had more than one col in a dataframe but in series we had onlu one column .
in pandas we had to store the index .
series+series = dataframe .(but the index of the series should be same for both )

In [55]:
import pandas as pd

In [56]:
#merging two series into a data frame:
apples = pd.Series([3,2,0,1])
oranges = pd.Series([4,5,1,2])
print(apples,oranges)

0    3
1    2
2    0
3    1
dtype: int64 0    4
1    5
2    1
3    2
dtype: int64

In [57]:
data = {"apples" : apples ,"oranges" : oranges}
fruits = pd.DataFrame(data)
print(fruits)

   apples  oranges
0       3        4
1       2        5
2       0        1
3       1        2

In [58]:
#u can also change indexes of pandas too . but remember index and values should be equal
data1= {'state': ['karachi','islamabad','kashmir','sialkot'],
        'POP' : [100,200,300,400],
        }
dataframe = pd.DataFrame(data1,index = ['1st','2nd','3rd','4th'])

In [59]:
print(dataframe)

         state  POP
1st    karachi  100
2nd  islamabad  200
3rd    kashmir  300
4th    sialkot  400

In [60]:
#.head() func print first five values 
dataframe.head()

         state  POP
1st    karachi  100
2nd  islamabad  200
3rd    kashmir  300
4th    sialkot  400

In [61]:
#u can also cahnge the position of col
dataframe = pd.DataFrame(dataframe,columns = ['POP','state'])

In [62]:
print(dataframe)

     POP      state
1st  100    karachi
2nd  200  islamabad
3rd  300    kashmir
4th  400    sialkot

In [63]:
#adding a new col :
dataframe = pd.DataFrame(dataframe,columns = ['POP','state','year'])

In [64]:
print(dataframe)

     POP      state  year
1st  100    karachi   NaN
2nd  200  islamabad   NaN
3rd  300    kashmir   NaN
4th  400    sialkot   NaN

In [65]:
dataframe.columns #for printing columns

Index(['POP', 'state', 'year'], dtype='object')

In [66]:
dataframe.index #for printing index of data

Index(['1st', '2nd', '3rd', '4th'], dtype='object')

In [67]:
#a column of a dataframe can be accessed as a series a dict type notation or by an attribute 
#mtlb ap col ko jese dic ko access krty ho usi tarah acces krogy 
dataframe['state'] #dic type

1st      karachi
2nd    islamabad
3rd      kashmir
4th      sialkot
Name: state, dtype: object

In [68]:
#attribute type ":"
dataframe.state

1st      karachi
2nd    islamabad
3rd      kashmir
4th      sialkot
Name: state, dtype: object

In [69]:
#.loc func gives u the data of a particular row
dataframe.loc["3rd"]

POP          300
state    kashmir
year         NaN
Name: 3rd, dtype: object

In [70]:
#for finding no of rows in a data frame :
print(len(dataframe))

4

In [71]:
#for adding values in year col 
#first we calculate the length ;
length = len(dataframe)
print(length)
values = np.arange(length)
dataframe['year'] = values

4

In [72]:
print(dataframe) #values are initialized in the year we can not decrrease or increase the length of the values of year col ,

     POP      state  year
1st  100    karachi     0
2nd  200  islamabad     1
3rd  300    kashmir     2
4th  400    sialkot     3

In [73]:
#inserting new value need to match in length of dataframe

In [74]:
#and if u dont want to pass all the values u can use index no
val = pd.Series([1.1,2.,3.4] , index = ['1st','4th','3rd'])
dataframe ['year'] = val
print(dataframe)

     POP      state  year
1st  100    karachi   1.1
2nd  200  islamabad   NaN
3rd  300    kashmir   3.4
4th  400    sialkot   2.0

In [75]:
dataframe ['year'] =3.5 
print(dataframe)

     POP      state  year
1st  100    karachi   3.5
2nd  200  islamabad   3.5
3rd  300    kashmir   3.5
4th  400    sialkot   3.5

In [76]:
dataframe['year'] = pd.Series([1.5],index = ['2nd'])
print(dataframe)

     POP      state  year
1st  100    karachi   NaN
2nd  200  islamabad   1.5
3rd  300    kashmir   NaN
4th  400    sialkot   NaN

In [77]:
#remember : index length should be equal to value(or do no provide index at all )

# Functions applications and mapping :

In [78]:
#making a data frame
frame =pd.DataFrame(np.random.randn(4,3),columns =list('bde'),
                                                       index = ['utah','ohio','texas','oregon'])
print(frame)

               b         d         e
utah   -0.299094  0.939915  0.461589
ohio    0.573112  0.343771 -1.444259
texas  -0.281646  0.029317  1.562404
oregon  0.895839 -0.887041 -1.271798

In [79]:
#.abs convert all - values to + values :
print(frame['d'].abs())

utah      0.939915
ohio      0.343771
texas     0.029317
oregon    0.887041
Name: d, dtype: float64

In [80]:
#or for all values
print(np.abs(frame))

               b         d         e
utah    0.299094  0.939915  0.461589
ohio    0.573112  0.343771  1.444259
texas   0.281646  0.029317  1.562404
oregon  0.895839  0.887041  1.271798

In [81]:
print(frame['d'].min()) #for finding minimum value

-0.8870414979442883

In [82]:
print(frame['d'].max()) #for finding maximum value

0.9399153318755535

In [83]:
print(frame['d'].max() - frame['d'].min()) #for finding maximum - minimum value

1.8269568298198418

In [84]:
#making a unnamed function using lambda :
f = lambda x : x.max() - x.min()
#applying this function on frame (dataframe) that we had made :
df = frame.apply(f)
print(df ,type(df))
#this function is getting data column wise and calculating max and min value of each column into x and storing it in F varfunc and then applying on frame and printing it .

b    1.194933
d    1.826957
e    3.006663
dtype: float64 <class 'pandas.core.series.Series'>

In [85]:
#similary we can do it for rows also by just changing the axis = 1 
df = frame.apply(f,axis =1)
print(df,type(df))
# u can see in the output that its a series type object . why ? i dont know :)

utah      1.239009
ohio      2.017371
texas     1.844050
oregon    2.167637
dtype: float64 <class 'pandas.core.series.Series'>

In [86]:
#we can also do the same work like we do in python func:
def f(x):
    minimum = x.min()
    maximum = x.max()
    return pd.Series([maximum,minimum] ,index = ['min','max'])
#applying the func on data frame :
df = frame.apply(f)
print(df,type(df))
#as u can see the return object is a data frame not a series because there are more than one col in the output.

            b         d         e
min  0.895839  0.939915  1.562404
max -0.299094 -0.887041 -1.444259 <class 'pandas.core.frame.DataFrame'>

In [87]:
#u can also do it directly withour storing it in a var :
def f(x):
    return pd.Series([x.max(), x.min()] ,index = ['min','max'])

df = frame.apply(f)
print(df,type(df))

            b         d         e
min  0.895839  0.939915  1.562404
max -0.299094 -0.887041 -1.444259 <class 'pandas.core.frame.DataFrame'>

In [88]:
#Sorting and Raning :
df = pd.DataFrame(np.arange(8).reshape(2,4),index = ['three' ,'one'],columns = ['d','a','b','c'])
print(df)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [89]:
df.sort_index() #sorting values according to their index

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [90]:
df.sort_index(axis = 1 ,ascending = False) #sorting values using their col and in descending order

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [91]:
#in sort function default are : axis = 0 , ascending = True 
#now sorting by values
df.sort_values(by = 'd'  , ascending = False) #here by shows u how to sort if u pass a col it would sort it according to col

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [92]:
# u cant sort it by = row name  , it would give error

In [93]:
#ranking : means what data would come first and then next and next ....
print(df.rank(ascending = False ,method = 'max') )

         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0

In [94]:
print(df.rank(ascending = False ,method = 'min') )

         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0

In [95]:
print(df.rank(axis = 'columns') )

         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [96]:
df.sum() #row wise

d     4
a     6
b     8
c    10
dtype: int64

In [97]:
df.sum(axis = 'columns')

three     6
one      22
dtype: int64

In [98]:
#skipna = false basically means include the naN values in n(total no)
#remember : it doesnt effect the sum func but it effects the mean( func )
x = df.mean(axis = 'columns' , skipna =False)

In [99]:
print(x)

three    1.5
one      5.5
dtype: float64

In [100]:
#unique values : means the values which are duplicate will only be count once : mean if 1.4 exist three times is data uniques would show it only once.
print(df)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [101]:
df['d'].unique()

array([0, 4], dtype=int64)

In [102]:
df['b'].value_counts()

6    1
2    1
Name: b, dtype: int64

In [107]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                       index = ['ohio','colorado','utah','newyork'],
                       columns = ['one','two','three','four'])
#The loc() function is used to access a group of rows and columns by label(s) or a boolean array. . loc[] is primarily label based, but may also be used with a boolean array.
print(data_df)
print('\n')
print(data_df.loc['colorado' , ['two','three']])

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
newyork    12   13     14    15


two      5
three    6
Name: colorado, dtype: int32

In [113]:
print(data_df.loc['colorado' ]) # u cant declare row first always declare col first

one      4
two      5
three    6
four     7
Name: colorado, dtype: int32

In [117]:
#if u want to access two or more rows then give it array notation
print(data_df.loc[['colorado' , 'utah' , 'ohio']])

          one  two  three  four
colorado    4    5      6     7
utah        8    9     10    11
ohio        0    1      2     3

In [118]:
#.iloc is same as loc but the major difference is we pass interger value in it 
#instead of name of labels and col
print(data_df.iloc[2,[3,0,1]]) #using index num , slicing is done as this also

four    11
one      8
two      9
Name: utah, dtype: int32

In [120]:
#slcicing :
print(data_df.iloc[1: , 1:3]) # aek kam layega

          two  three
colorado    5      6
utah        9     10
newyork    13     14

In [121]:
print(data_df.iloc[:2])

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7

# Arithmetic and data alignment :

In [128]:
#when we add two dataframe they are added by their indexes and col :
df1 = pd.DataFrame(np.arange(9.0).reshape((3,3)),columns = list('bcd'),
                   index = ['ohio','texas','colarado'])
df2 = pd.DataFrame(np.arange(12.0).reshape ((4,3)),
                  columns = list('bde'),
                  index = ['utah' ,'ohio','texas','oregon'])
print(df1)
print(df2)
#applying plus operation between two dataframes :
df3 = df1 +df2
print(f'\n {df3}') #the nan values are because pandas was unable to find their matching index

            b    c    d
ohio      0.0  1.0  2.0
texas     3.0  4.0  5.0
colarado  6.0  7.0  8.0
          b     d     e
utah    0.0   1.0   2.0
ohio    3.0   4.0   5.0
texas   6.0   7.0   8.0
oregon  9.0  10.0  11.0

             b   c     d   e
colarado  NaN NaN   NaN NaN
ohio      3.0 NaN   6.0 NaN
oregon    NaN NaN   NaN NaN
texas     9.0 NaN  12.0 NaN
utah      NaN NaN   NaN NaN

In [129]:
#now your work is to fill this nan values with a num 
#choice of num is yours

# Arithmetic method with fill values :
when  we had a problem that index values doesnt match and nan values are created there are some methods form which we can avoid this nan values

In [130]:
#so instead of using + we use add function and fill nan values with a num 
print(df3)
df3 = df1.add(df2 ,fill_value = 0)

print(df3) #there are still some nan values becaise they didnt find any zero to add with.

            b   c     d   e
colarado  NaN NaN   NaN NaN
ohio      3.0 NaN   6.0 NaN
oregon    NaN NaN   NaN NaN
texas     9.0 NaN  12.0 NaN
utah      NaN NaN   NaN NaN
            b    c     d     e
colarado  6.0  7.0   8.0   NaN
ohio      3.0  1.0   6.0   5.0
oregon    9.0  NaN  10.0  11.0
texas     9.0  4.0  12.0   8.0
utah      0.0  NaN   1.0   2.0

# Operations b/w dataframe and series:

In [134]:
print('using new series \n ------------')
series = pd.Series([1,2,3],index =  list('bde'))
print(series.index , series.values)
frame = pd.DataFrame(np.arange(12.0).reshape ((4,3)),
                  columns = list('bde'),
                  index = ['utah' ,'ohio','texas','oregon'])
print(f'\n {frame}')
print(frame - series)

using new series
 ------------
Index(['b', 'd', 'e'], dtype='object') [1 2 3]

           b     d     e
utah    0.0   1.0   2.0
ohio    3.0   4.0   5.0
texas   6.0   7.0   8.0
oregon  9.0  10.0  11.0
          b    d    e
utah   -1.0 -1.0 -1.0
ohio    2.0  2.0  2.0
texas   5.0  5.0  5.0
oregon  8.0  8.0  8.0

In [135]:
#each value of series would be done row wise 
#means dataframes columns name will be match with series index 
#because its row wise broadcasting operation

In [139]:
# columns name can be changed using reindex method :
states = pd.DataFrame(np.arange(9).reshape(3,3),
                     index = ['a','c','d']
                     ,columns = ['ohio','texas','california'])
print(states)
newname = ['texas','utah','california','ohio']
states = states.reindex(columns = newname)
print(states)

   ohio  texas  california
a     0      1           2
c     3      4           5
d     6      7           8
   texas  utah  california  ohio
a      1   NaN           2     0
c      4   NaN           5     3
d      7   NaN           8     6

# Deleting data(row or column from data )

In [140]:
df = pd.DataFrame(np.arange(16).reshape((4,4)),
                       index = ['ohio','colorado','utah','newyork'],
                       columns = ['one','two','three','four'])
print(df,'\n')
#dataframe.drop() method would return  a new dataframe without having deleted rows
#so store it into a dataframe var or use inplace = True while droping rows or columns
df.drop(['colorado','ohio'],inplace = True )
print(df)

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
newyork    12   13     14    15

         one  two  three  four
utah       8    9     10    11
newyork   12   13     14    15

In [141]:
# u can also drop values using column by passing 
#axis =1 or axis = columns 
print(df.drop('two',axis = 1))

         one  three  four
utah       8     10    11
newyork   12     14    15

In [143]:
#delete newyork task :
print(df.drop(['newyork']))
print(df) #if inplace = False

      one  two  three  four
utah    8    9     10    11
         one  two  three  four
utah       8    9     10    11
newyork   12   13     14    15

In [145]:
print(df.drop(['newyork'],inplace = True ))
print(df) #if inplace = True

None
      one  two  three  four
utah    8    9     10    11

# indexing , selection and filtering :

In [147]:
df = pd.DataFrame(np.arange(16).reshape((4,4)),
                       index = ['ohio','colorado','utah','newyork'],
                       columns = ['one','two','three','four'])
print(df)
print(df[['one','three']]) #printing two columns

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
newyork    12   13     14    15
          one  three
ohio        0      2
colorado    4      6
utah        8     10
newyork    12     14

In [148]:
#selecting rows like numpy 
df[2:]

         one  two  three  four
utah       8    9     10    11
newyork   12   13     14    15

In [151]:
#re-index method :
obj = pd.Series(['blue','purple','yellow'],
               index = [0,3,6])
print(obj)
obj = obj.reindex(range(9),method = 'ffill') #it would ffill the values
print('\n' ,obj)

0      blue
3    purple
6    yellow
dtype: object

 0      blue
1      blue
2      blue
3    purple
4    purple
5    purple
6    yellow
7    yellow
8    yellow
dtype: object

In [152]:
obj = obj.reindex(range(9),method = 'bfill') #it would backwardfill the values
print('\n' ,obj)

 0      blue
1      blue
2      blue
3    purple
4    purple
5    purple
6    yellow
7    yellow
8    yellow
dtype: object

In [157]:
obj.reindex(range(0,14),method = 'bfill') #remember backward fill is not go for changing the end values

0       blue
1       blue
2       blue
3     purple
4     purple
5     purple
6     yellow
7     yellow
8     yellow
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
dtype: object

In [158]:
#remember : reindex is a method of a data frame and it has a parameter which name is 'method' and ffill is used to fill nan values